<div class="row justify-content-center" *ngIf="character$ | async as character">
  <div class="col-xs-12 col-sm-6 col-md-6 justify-content-center">
    <div class="card pb-3 mt-4">
      <div class="image">
           <img [src]="character.image"
            [alt]="character.name"
            class="card-img-top">
      </div>
      <div class="card-inner pl-2">
        <div class="header pl-2">
          <h2>{{character.name | slice: 0:15}}</h2>
        <h4 class="text-muted">{{character.gender}}</h4>
        <small class="text-muted"> {{character.created | date}}</small>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-primary btn-lg mt-3" (click)="onGoBack()">
Back
</button>

